{% extends '../base.html' %}
{% load static %}
{% block content %}
<style>
    body {
        background-color: #e1e7ed;
        text-align: center;
    }

    h3 {
        font-size: 18px;
        font-weight: 500;
        color: #33363b;
    }

    p {
        font-size: 14px;
        color: #868d9b;
    }

    .card {
        width: 400px;
        height: auto;
        background-color: #ffffff;
        margin: 0 auto;
        margin-top: 0px;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
    }

    .card_profile_img {
        width: 120px;
        height: 120px;
        background-color: #868d9b;
        background: url("{{ user.profile.user_image.url }}");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border: 2px solid #ffffff;
        border-radius: 120px;
        margin: 0 auto;
        margin-top: -60px;

    }

    .card_background_img {
        width: 100%;
        height: 180px;
        background-color: #e1e7ed;
        background: url("https://source.unsplash.com/9wg5jCEPBsw");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .user_details p {
        margin-bottom: 20px;
        margin-top: -5px;
    }

    .user_details h3 {
        margin-top: 10px;
    }

    .card_count {
        padding: 30px;
        border-top: 1px solid #dde1e7;
    }

    .count {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 28px;
    }

    .count p {
        margin-top: -10px;
    }

    .btn {
        padding: 16px;
        width: 100%;
        border: none;
        outline: none;
        border-radius: 4px;
        background-color: #24c5a1;
        color: #ffffff;
        cursor: pointer;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
    }

    .alert-container {
        position: fixed;
        bottom: 20px;
        right: 20px;
    }

    .alert-box {
        position: relative;
        display: none;
        width: 600px;
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 9px;
        background-color: #fff;
        animation: fade-in 0.5s ease-in-out forwards;
    }

    .close-btn {
        position: absolute;
        top: 3px;
        right: 10px;
        color: #aaa;
        font-size: 24px;
        font-weight: bold;
        cursor: pointer;
    }

    @keyframes fade-in {
        from {
            opacity: 0;
            transform: translateX(10px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
</style>
<div class="alert-container">
    <div class="alert-box" id="alertBox1">
        <span class="close-btn" id="closeBtn1">&times;</span>
        <div style="text-align: left;">
            <small>Esta sección mostrará una breve descripción de lo que ofrece tu servicio, lo cual puede considerarse
                como el punto de venta para el cliente</small>
        </div>
        <img class="img-fluid" src="{% static 'assets/img/create_post_help/resumen.png' %}" alt="" srcset="">
    </div>
    <div class="alert-box" id="alertBox2">
        <span class="close-btn" id="closeBtn2">&times;</span>
        <div style="text-align: left;">
            <p>Ejemplo:</p>
            <img class="img-fluid" src="{% static 'assets/img/create_post_help/detailed_dis.png' %}" alt="" srcset="">
        </div>
    </div>
    <div class="alert-box" id="alertBox3">
        <span class="close-btn" id="closeBtn3">&times;</span>
        <div style="text-align: left;">
            <p>This is alert box 3.</p>
        </div>
    </div>
</div>
<section id="" class="container-fluid d-flex align-items-center justify-content-between">
    <div class="container">
        <br><br>
        <div class="row">
            <div class="col-lg-8">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.media }}
                    <div style="text-align: left;">
                        <h6>Categoria</h6>
                    </div>
                    {{ form.category }}
                    <br>

                    <div style="width: 100%;" class="card">
                        <div class="card-body">
                            <div style="text-align: left;">
                                <h6>Titulo</h6>
                            </div>
                            {{ form.title }}
                            <br>
                            <div style="text-align: left;">
                                <h6 onclick="showAlert(1)">Que debo de ingresar aqui? <i style="color: blue;" class="bi bi-info-circle"></i></h6>
                            </div>
                            {{ form.content }}
                            <br>
                            <div style="text-align: left;">
                                <h6 onclick="showAlert(2)">Que debo de ingresar aqui? <i style="color: blue;" class="bi bi-info-circle"></i></h6>
                            </div>
                            {{ form.detailed_description }}
                            <br>
                            <div style="text-align: left;">
                                <h6>tiempo de entrega</h6>
                            </div>
                            {{ form.delivery_time }}
                        </div>
                    </div>
                    
                    <br>
                    <div style="width: 100%;" class="card">
                        <div class="card-body">
                            <h5>imagens</h5>
                            <div style="text-align: left;">
                                <h6>imagen:</h6>
                            </div>
                            {{ form.image }}
                            <br>
                            <div style="text-align: left;">
                                <h6>imagen:</h6>
                            </div>
                            {{ form.image2 }}
                            <br>
                            <div style="text-align: left;">
                                <h6>imagen:</h6>
                            </div>
                            {{ form.image3 }}
                        </div>
                    </div>
                    <br>
                    <div style="text-align: left;">
                        <h6>Precio del producto</h6>
                    </div>
                    {{ form.price }}
                    <br>
                    <div style="text-align: left;">
                        <h6 onclick="showAlert(3)">Que debo de ingresar aqui? <i style="color: blue;" class="bi bi-info-circle"></i></h6>
                    </div>
                    <div style="width: 100%;" class="card">
                        <div class="card-body">
                            <div class="d-flex">
                                {{ form.is_active }}
                                <p style="padding-left: 5px; color: #33363b;"> Ester servicio esta activo?</p>
                            </div>
                        </div>
                    </div>
                    <br>

                    <input value="Publicar" type="Submit" class="btn btn-primary">
                </form>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card_background_img"></div>
                    <div class="card_profile_img"></div>
                    <div class="user_details">
                        <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                        <p>@{{ user.username }}</p>
                    </div>
                    <div class="card_count">
                        <div class="btn">Publicar</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function showAlert(alertBoxNum) {
        const alertBox = document.getElementById(`alertBox${alertBoxNum}`);
        alertBox.style.display = "block";

        const closeBtn = document.getElementById(`closeBtn${alertBoxNum}`);
        closeBtn.addEventListener("click", () => {
            alertBox.style.display = "none";
        });
    }
</script>
{% endblock %}