{% extends '../base.html' %}
{% load static %}
{% block content %}
<style>
    .form-group {
        margin-bottom: 20px;
    }
    label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }
    input[type="new_password1"] {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    input[type="password"] {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
</style>
<br><br>
<section class="container-fluid d-flex align-items-center justify-content-center">
  <div class="container shadow p-3 mb-5 bg-white rounded">
    <h1 class="text-center mb-4">Ingrese su nueva contraseña</h1>
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="{{ form.new_password1.id_for_label }}">Nueva contraseña:</label>
        {{ form.new_password1 }}
      </div>
      <div class="form-group">
        <label for="{{ form.new_password2.id_for_label }}">Confirmar contraseña:</label>
        {{ form.new_password2 }}
      </div>
      <button type="submit" class="btn btn-primary btn-block">Actualizar contraseña</button>
    </form>
  </div>
</section>
{% endblock %}