{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Ensocio.mx</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'assets/img/ensocio_logo_tab.jpeg' %}" rel="icon">
    <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

    <!-- =======================================================
  * Template Name: FlexStart - v1.12.0
  * Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
<body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a href="{% url 'home_front' %}" class="logo d-flex align-items-center">
                <img style="max-height: 45px; margin-right: 9px;" src="{% static 'assets/img/ensocio_logo.png' %}" alt="">
                <span>Ensocio.mx</span>
            </a>
            <nav id="navbar" class="navbar">
                <ul>
                    <li>
                        <form action="{% url 'search' %}" method="GET">
                            {% csrf_token %}
                            <div class="d-flex">
                                <input style="width: 22rem;" name="search" type="text" class="form-control" placeholder="Busca un Servicio">
                                <button style="width: 40px;" value="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
                            </div>
                        </form>
                    </li>
                    <li><a class="nav-link scrollto" href="{% url 'all_posts' %}">Servicios</a></li>
                    <li class="dropdown"><a href="#"><span>Cuenta</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            {% if user.is_authenticated %}
                                <li><a href="{% url 'profile' %}">{{ request.user.username }}</a></li>
                            {% else %}
                                <li><a href="{% url 'user_login' %}">User</a></li>
                            {% endif %}
                            <!-- <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i
                                        class="bi bi-chevron-right"></i></a>
                                <ul>
                                    <li><a href="#">Deep Drop Down 1</a></li>
                                    <li><a href="#">Deep Drop Down 2</a></li>
                                    <li><a href="#">Deep Drop Down 3</a></li>
                                    <li><a href="#">Deep Drop Down 4</a></li>
                                    <li><a href="#">Deep Drop Down 5</a></li>
                                </ul>
                            </li> -->
                            <li><a href="{% url 'inbox' %}">Inbox</a></li>
                            <li><a href="{% url 'delete_account' %}">Borrar cuenta</a></li>
                            <li><a href="{% url 'password_change' %}">Cambiar contraseña</a></li>
                        </ul>
                    </li>
                    {% if user.is_authenticated %}
                        <li><a class="getstarted scrollto" href="{% url 'user_logout' %}">Cerrar sesión</a></li>
                    {% else %}
                        <li><a class="getstarted scrollto" href="{% url 'user_login' %}">Iniciar sesión</a></li>
                    {% endif %}
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

    <div>
        {% block content %}{% endblock %}
    </div>

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row gy-4">
                    <div class="col-lg-5 col-md-12 footer-info">
                        <a href="index.html" class="logo d-flex align-items-center">
                            <img src="assets/img/logo.png" alt="">
                            <span>Ensocio.mx</span>
                        </a>
                        <p>Nuestro equipo está compuesto por profesionales altamente capacitados y apasionados en su campo. Nos esforzamos por brindar un enfoque personalizado y adaptado a las necesidades únicas de cada cliente. Valoramos las relaciones a largo plazo y nos comprometemos a establecer asociaciones sólidas y mutuamente beneficiosas.</p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-6 footer-links">
                        <h4>Nuestro Contenido</h4>
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Inico</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Sobre Nosotros</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Servicios</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Terminos de los servicios</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Politicas de Privacidad</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-2 col-6 footer-links">
                        <h4>Nuestros Servicios</h4>
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Diseño Web</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Graficas y Diseños</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Dirección de Producto</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Marketing</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Audiovisuales</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                        <h4>Contactanos</h4>
                        <p>
                            Caleta Caletilla, <br>
                            Acapulco de Juarez, Guerrero 39700<br>
                            México <br><br>
                            <strong>Telefono:</strong> 7445055734<br>
                            <strong>Correo:</strong> SebastianGroger@Ensocio.mx<br>
                        </p>

                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>FlexStart</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flexstart-bootstrap-startup-template/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>