{% extends './base.html' %}
{% load static %}

{% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <div class="alert alert-primary" role="alert">{{ message }}</div>
            {% endfor %}
        </ul>
      {% endif %}
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Conectando empresas con el mejor talento en línea</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">Te brindamos las herramientas y el conocimiento para alcanzar tus objetivos y hacer crecer tu empresa</h2>
          <div data-aos="fade-up" data-aos-delay="600">

            <div class="d-flex">
              {% for category in categories %}
                <div style="padding-bottom: 5px; padding-left: 4px;">
                  <a href="{% url 'category_list' category.pk %}">
                    <span class="badge rounded-pill bg-primary">{{ category.name }}</span>
                  </a>
                </div>
              {% endfor %}
            </div>

            <form action="{% url 'search' %}" method="POST" class="d-flex">
              {% csrf_token %}
              <input class="form-control me-2" name="search" type="search" placeholder="Buscar" aria-label="Search">
              <button class="btn btn-outline-success" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                  height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg></button>
            </form>

            <div class="text-center text-lg-start">
              <a href="{% url 'all_posts' %}" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Empezar</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="{% static 'assets/img/hero-img.png' %}" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row gx-0">

          <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <h3>Quienes somos?</h3>
              <h2>Somos un equipo de contratistas que nos enorgullecemos de encontrar a los mejores freelancers para su negocio.</h2>
    
              <div class="text-center text-lg-start">
                <a href="#" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  <span>Leer Mas</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="{% static 'assets/img/about.jpg' %}" class="img-fluid" alt="">
          </div>

        </div>
      </div>

    </section><!-- End About Section -->

    <!-- ======= Values Section ======= -->
    <section id="values" class="values">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Nuestros Valores</h2>
          <p>Maximizando el éxito empresarial a través de la seguridad financiera, el crecimiento y la optimización del tiempo</p>
        </header>

        <div class="row">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="box">
              <img src="{% static 'assets/img/values-1.png' %}" class="img-fluid" alt="">
              <h3>Seguridad financiera</h3>
              <p>Confía en nosotros para proteger tu futuro financiero.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
            <div class="box">
              <img src="{% static 'assets/img/values-2.png' %}" class="img-fluid" alt="">
              <h3>El crecimiento de tu negocio</h3>
              <p>Impulsa tu negocio al siguiente nivel.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
            <div class="box">
              <img src="{% static 'assets/img/values-3.png' %}" class="img-fluid" alt="">
              <h3>La optimización.</h3>
              <p>Optimiza tu tiempo y alcanza el éxito.</p>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Values Section -->

    <!-- ======= Counts Section ======= -->
    <!-- <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
                <p>Happy Clients</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-journal-richtext" style="color: #ee6c20;"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
                <p>Projects</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-headset" style="color: #15be56;"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
                <p>Hours Of Support</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-people" style="color: #bb0852;"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
                <p>Hard Workers</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section> -->
    <!-- End Counts Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>CARACTERÍSTICAS</h2>
          <p>¿Qué tenemos para ofrecer?</p>
        </header>

        <div class="row">

          <div class="col-lg-6">
            <img src="{% static 'assets/img/features.png' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
            <div class="row align-self-center gy-4">

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Soporte de servicio al cliente</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Conexiones a freelancers</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Conexiones a otros negocios</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="500">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Herramientas de organizacion</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Herramientas de apoyo</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="700">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Comunidad</h3>
                </div>
              </div>

            </div>
          </div>

        </div> <!-- row -->

        <!-- Feature Tabs -->
        <div class="row feture-tabs" data-aos="fade-up">
          <div class="col-lg-6">
            <h3>No somos solo una plataforma somos una red social para autónomos y emprendedores</h3>

            <!-- Tabs -->
            <ul class="nav nav-pills mb-3">
              <li>
                <a class="nav-link active" data-bs-toggle="pill" href="#tab1">Emprendedores</a>
              </li>
              <li>
                <a class="nav-link" data-bs-toggle="pill" href="#tab2">Freelancer</a>
              </li>
            </ul><!-- End Tabs -->

            <!-- Tab Content -->
            <div class="tab-content">

              <div class="tab-pane fade show active" id="tab1">
                <p align="justify">Como emprendedor, puedes mostrar tus publicaciones guardadas en tu página de perfil de usuario, las cuales serán visibles para la vibrante comunidad de trabajadores independientes y otros emprendedores.</p>
                <div class="d-flex align-items-center mb-2">
                  <i class="bi bi-check2"></i>
                  <h4>Queremos comunidad y conexiones</h4>
                </div>
                <p>Esta plataforma te permite demostrar tu compromiso en la construcción de una red sólida y resaltar tu dedicación en mantenerte al tanto de las últimas tendencias e ideas en tu industria.</p>
                <div class="d-flex align-items-center mb-2">
                  <i class="bi bi-check2"></i>
                  <h4>Nos esforzamos por la comunidad y las conexiones</h4>
                </div>
                <p>Significa que valoramos la importancia de construir una comunidad sólida y fomentar conexiones significativas entre los miembros de la misma.</p>
              </div><!-- End Tab 1 Content -->

              <div class="tab-pane fade show" id="tab2">
                <p>Al crear una cuenta de Ensocio.mx, tendrás la oportunidad de demostrar tus habilidades y experiencia publicando tus servicios en categorías preestablecidas, lo que facilitará que potenciales clientes te encuentren y te contraten para sus proyectos.</p>
                <div class="d-flex align-items-center mb-2">
                  <i class="bi bi-check2"></i>
                  <h4>¿Estás listo para mostrarle al mundo lo que puedes hacer?</h4>
                </div>
                <p>Con una cuenta de freelancer, puedes publicar tus servicios en categorías preestablecidas, lo que te permite destacar tus habilidades y experiencia. ¡Haz que sea más fácil para tus clientes potenciales encontrarte y contratarte para sus proyectos.</p>
                <div class="d-flex align-items-center mb-2">
                  <i class="bi bi-check2"></i>
                  <h4>¿Quieres destacar entre la multitud y aumentar tus oportunidades de conseguir proyectos?</h4>
                </div>
                <p>Al crear una cuenta de freelancer, podrás publicar tus servicios en categorías específicas y diferenciarte de la competencia. ¡Convierte tus habilidades en ingresos y demuestra lo que eres capaz de hacer.</p>
              </div><!-- End Tab 2 Content -->

            </div>

          </div>

          <div class="col-lg-6">
            <img src="{% static 'assets/img/features-2.png' %}" class="img-fluid" alt="">
          </div>

        </div><!-- End Feature Tabs -->

        <!-- Feature Icons -->
        <div class="row feature-icons" data-aos="fade-up">
          <h3>Te ofrecemos lo mejor</h3>

          <div class="row">

            <div class="col-xl-4 text-center" data-aos="fade-right" data-aos-delay="100">
              <img src="{% static 'assets/img/features-3.png' %}" class="img-fluid p-4" alt="">
            </div>

            <div class="col-xl-8 d-flex content">
              <div class="row align-self-center gy-4">

                <div class="col-md-6 icon-box" data-aos="fade-up">
                  <i class="ri-line-chart-line"></i>
                  <div>
                    <h4>Servicios en tendencia</h4>
                    <p align="justify">Ofrecemos servicios a la vanguardia del mercado, actualizándonos constantemente para brindar soluciones innovadoras y efectivas a nuestros clientes.</p>
                  </div>
                </div>

                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="ri-stack-line"></i>
                  <div>
                    <h4>Trabajodores eficientes</h4>
                    <p align="justify">Nuestro equipo eficiente y comprometido, con amplia experiencia y conocimiento, brinda resultados excepcionales y un servicio de alta calidad a nuestros clientes.</p>
                  </div>
                </div>

                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="ri-brush-4-line"></i>
                  <div>
                    <h4>Soluciones modernas</h4>
                    <p align="justify">Nos especializamos en soluciones modernas e innovadoras, con un equipo de expertos dedicados a crear estrategias que reflejan las últimas tendencias y desafíos del mercado actual.</p>
                  </div>
                </div>

                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <i class="ri-magic-line"></i>
                  <div>
                    <h4>Nos ajustamos a tu presupuesto</h4>
                    <p align="justify">Ofrecemos soluciones personalizadas y flexibles que se adaptan a tu presupuesto, manteniendo siempre la calidad de nuestros servicios.</p>
                  </div>
                </div>

                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                  <i class="ri-command-line"></i>
                  <div>
                    <h4>Soporte 24/7</h4>
                    <p align="justify">Ofrecemos soporte confiable y oportuno a nuestros clientes, disponible 24/7, los 365 días del año.</p>
                  </div>
                </div>


              </div>
            </div>

          </div>

        </div><!-- End Feature Icons -->

      </div>

    </section><!-- End Features Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Servicios</h2>
          <p>Conoce los diferentes servicios que tenemos que ofrecer</p>
        </header>

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-box blue">
              <i class="ri-discuss-line icon"></i>
              <h3>Diseños y graficos</h3>
              <p align="justify" >Nuestro servicio de diseño proporciona soluciones visuales de alta calidad, incluyendo logotipos, materiales impresos y gráficos para redes sociales, para potenciar tu marca.</p>
              <a href="#" class="read-more"><span>Leer Mas</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-box orange">
              <i class="ri-discuss-line icon"></i>
              <h3>Programación y tecnología</h3>
              <p align="justify">Nuestro equipo experto desarrolla soluciones personalizadas de programación, incluyendo aplicaciones, sitios web y comercio electrónico, según tus necesidades.</p>
              <a href="#" class="read-more"><span>Leer Mas</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-box green">
              <i class="ri-discuss-line icon"></i>
              <h3>Música y audio</h3>
              <p align="justify">Proporcionamos servicios de música y audio, incluyendo composición, producción de pistas, grabaciones de voz y mezclas profesionales, para enriquecer tus proyectos creativos.</p>
              <a href="#" class="read-more"><span>Leer Mas</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-box red">
              <i class="ri-discuss-line icon"></i>
              <h3>Negocios</h3>
              <p align="justify">Ofrecemos asesoramiento en negocios, estrategias empresariales, gestión de proyectos y planes de negocios para impulsar el crecimiento de tu empresa.</p>
              <a href="#" class="read-more"><span>Leer Mas</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-box purple">
              <i class="ri-discuss-line icon"></i>
              <h3>Video y animación</h3>
              <p align="justify">Ofrecemos servicios de video y animación, incluyendo videos promocionales y animaciones impactantes, para captar la atención de tu audiencia y transmitir tus ideas de manera atractiva.</p>
              <a href="#" class="read-more"><span>Leer Mas</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">
            <div class="service-box pink">
              <i class="ri-discuss-line icon"></i>
              <h3>Marketing</h3>
              <p align="justify">Con nuestras estrategias de marketing y publicidad en línea, maximizamos tu visibilidad, atraemos clientes y aumentamos tus ventas.</p>
              <a href="#" class="read-more"><span>Leer Mas</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Services Section -->

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>F.A.Q</h2>
          <p>Preguntas frecuentes</p>
        </header>

        <div class="row">
          <div class="col-lg-6">
            <!-- F.A.Q List 1-->
            <div class="accordion accordion-flush" id="faqlist1">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                    ¿Cómo funciona tu sitio web para obtener servicios de diferentes indoles?
                  </button>
                </h2>
                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body" align="justify">
                    Nuestro sitio web es una plataforma que conecta a usuarios con freelancers especializados en una variedad de servicios. Los usuarios pueden explorar diferentes categorías de servicios, como desarrollo de logos, consultas de marketing, programación y planes de negocios. Pueden seleccionar un freelancer basado en sus habilidades y portafolio, y luego comunicarse con ellos a través de nuestro sitio web para discutir los detalles del proyecto.</div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                    ¿Cómo se establece el precio de los trabajos?
                  </button>
                </h2>
                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body" align="justify">
                    Cada freelancer registrado en nuestro sitio web tiene la libertad de establecer su propio precio para los servicios que ofrecen. El precio puede variar según la complejidad del trabajo, la experiencia del freelancer y otros factores relevantes. Los usuarios pueden comparar los precios de diferentes freelancers y seleccionar aquel que se ajuste a su presupuesto y requisitos.</div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                    ¿Cuál es la tarifa de comisión que cobra tu empresa?
                  </button>
                </h2>
                <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body" align="justify">
                    Nuestra empresa cobra una tarifa de comisión del 5% del costo total del trabajo. Esta tarifa se aplica para cubrir los gastos operativos y mantener el funcionamiento de la plataforma. Es importante destacar que esta comisión se deduce únicamente una vez que el trabajo ha sido completado y el pago ha sido realizado.</div>
                </div>
              </div>

            </div>
          </div>

          <div class="col-lg-6">

            <!-- F.A.Q List 2-->
            <div class="accordion accordion-flush" id="faqlist2">

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-1">
                    ¿Cómo se realiza el proceso de pedido y pago en tu sitio web?
                  </button>
                </h2>
                <div id="faq2-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                  <div class="accordion-body" align="justify">
                    Cuando un usuario decide contratar los servicios de un freelancer, puede utilizar nuestra plataforma para realizar el pedido. A través del sitio web, los usuarios pueden especificar los detalles del trabajo, como los requisitos específicos, plazos de entrega y cualquier otra información relevante. Una vez que se acuerdan los términos del proyecto, se realiza el pago a través de nuestro sistema de pago seguro en línea.</div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-2">
                    ¿Cuánto tiempo tomará recibir el trabajo finalizado?
                  </button>
                </h2>
                <div id="faq2-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                  <div class="accordion-body" align="justify">
                    El tiempo de entrega del trabajo puede variar según la naturaleza del proyecto y el área de especialización del freelancer. Los plazos de entrega específicos se acuerdan entre el usuario y el freelancer durante la etapa de discusión y negociación. Es importante tener en cuenta que se alienta a los freelancers a establecer plazos realistas y cumplir con ellos para garantizar la satisfacción del cliente.</div>
                </div>
              </div>

            </div>
          </div>

        </div>

      </div>

    </section><!-- End F.A.Q Section -->

    <!-- ======= Testimonials Section ======= -->
    <!-- <section id="testimonials" class="testimonials">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Testimonials</h2>
          <p>What they are saying about us</p>
        </header>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="200">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                </p>
                <div class="profile mt-auto">
                  <img src="{% static 'assets/img/testimonials/testimonials-1.jpg' %}" class="testimonial-img" alt="">
                  <h3>Saul Goodman</h3>
                  <h4>Ceo &amp; Founder</h4>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                </p>
                <div class="profile mt-auto">
                  <img src="{% static 'assets/img/testimonials/testimonials-2.jpg' %}" class="testimonial-img" alt="">
                  <h3>Sara Wilsson</h3>
                  <h4>Designer</h4>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                </p>
                <div class="profile mt-auto">
                  <img src="{% static 'assets/img/testimonials/testimonials-3.jpg' %}" class="testimonial-img" alt="">
                  <h3>Jena Karlis</h3>
                  <h4>Store Owner</h4>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                </p>
                <div class="profile mt-auto">
                  <img src="{% static 'assets/img/testimonials/testimonials-4.jpg' %}" class="testimonial-img" alt="">
                  <h3>Matt Brandon</h3>
                  <h4>Freelancer</h4>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                </p>
                <div class="profile mt-auto">
                  <img src="{% static 'assets/img/testimonials/testimonials-5.jpg' %}" class="testimonial-img" alt="">
                  <h3>John Larson</h3>
                  <h4>Entrepreneur</h4>
                </div>
              </div>
            </div>

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section> -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Equipo</h2>
          <p>Nuestro equipo de trabajo</p>
        </header>

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="member-img">
                <img src="{% static 'assets/img/team/team-1.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Josue Moran Rayon</h4>
                <span>CTO</span>
                <p>Ingeniero en Sistemas Computacionales</p>
              </div>
            </div>
          </div>

        
          <div class="col-lg-6 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="member-img">
                <img src="{% static 'assets/img/team/team-3.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sebastian Maurcio Groger Gutierres</h4>
                <span>CEO</span>
                <p>Inginiero en Sistemas Computacionales</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <div class="member-img">
                <img src="{% static 'assets/img/team/team-4.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Luis Angel Teoba</h4>
                <span>CFO</span>
                <p>Ingeniero en Sistemas Computacionales</p>
              </div>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Team Section -->

    <!-- ======= Clients Section ======= -->
    <!-- <section id="clients" class="clients">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Our Clients</h2>
          <p>Temporibus omnis officia</p>
        </header>

        <div class="clients-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-1.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-2.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-3.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-4.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-5.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-6.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-7.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-8.png' %}" class="img-fluid" alt=""></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>

    </section>  -->
    <!-- ======= End Clients Section ======= -->

    <!-- ======= Recent Blog Posts Section ======= -->
    <section id="recent-blog-posts" class="recent-blog-posts">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Blog</h2>
          <p>Posteos recientes</p>
        </header>

        <div class="row">

          <div class="col-lg-4">
            <div class="post-box">
              <div class="post-img"><img src="{% static 'assets/img/blog/blog-1.jpg' %}" class="img-fluid" alt=""></div>
              <span class="post-date">14 de mayo de 2023</span>
              <h3 class="post-title">Nuevas tendencias de diseño llegan al mercado</h3>
              <a href="blog-single.html" class="readmore stretched-link mt-auto"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="post-box">
              <div class="post-img"><img src="{% static 'assets/img/blog/blog-2.jpg' %}" class="img-fluid" alt=""></div>
              <span class="post-date">15 de mayo de 2023</span>
              <h3 class="post-title">El uso de las diferentes IA eficientan el trabajo de algunas areas</h3>
              <a href="blog-single.html" class="readmore stretched-link mt-auto"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="post-box">
              <div class="post-img"><img src="{% static 'assets/img/blog/blog-3.jpg' %}" class="img-fluid" alt=""></div>
              <span class="post-date">20 de mayo de 2023</span>
              <h3 class="post-title">Las tedencias del mercado al inicios del segundo semestre del 2023</h3>
              <a href="blog-single.html" class="readmore stretched-link mt-auto"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Recent Blog Posts Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Areas de contacto</h2>
          <p>Contacta con nosotros</p>
        </header>

        <div class="row gy-4">

          <div class="col-lg-6">

            <div class="row gy-4">
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-geo-alt"></i>
                  <h3>DIRECCIÓN</h3>
                  <p>Caleta Caletilla,<br>Acapulco de Juarez Guerrero, C.P. 39700</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-telephone"></i>
                  <h3>Llamanos</h3>
                  <p>7445055734<br>5568958022</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-envelope"></i>
                  <h3>Correo Electrónico</h3>
                  <p>SebastianGroger@Ensocio.mx<br>EnsocioPricipal@Ensocio.mx</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-clock"></i>
                  <h3>Horarios de apertura</h3>
                  <p>Lunes - Viernes<br>9:00AM - 05:00PM</p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">
              <form method="POST">
                <div class="row gy-4">
                  {% csrf_token %}
  
                  <div class="col-md-6">
                    <input type="name" name="name" class="form-control" placeholder="Nombre" required>
                  </div>
  
                  <div class="col-md-6 ">
                    <input type="email" class="form-control" name="email" placeholder="Correo" required>
                  </div>
  
                  <div class="col-md-12">
                    <input type="subject" class="form-control" name="subject" placeholder="Descripción" required>
                  </div>
  
                  <div class="col-md-12">
                    <textarea class="form-control" name="message" rows="6" placeholder="Mensaje" required></textarea>
                  </div>
  
                  <div class="col-md-12 text-center">
                    <input class="btn btn-primary" type="submit" value="Enviar"></input>
                  </div>
  
                </div>
              </form>
          </div>

        </div>

      </div>

    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">QUIENES SOMOS?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" align="justify">
        Nuestro equipo está compuesto por profesionales altamente capacitados y apasionados en su campo. Nos esforzamos por brindar un enfoque personalizado y adaptado a las necesidades únicas de cada cliente. Valoramos las relaciones a largo plazo y nos comprometemos a establecer asociaciones sólidas y mutuamente beneficiosas.
        <hr>
        Nuestro enfoque se basa en la excelencia, la integridad y la satisfacción del cliente. Nos esforzamos por superar las expectativas en cada proyecto y brindar un servicio que sea confiable, eficiente y de la más alta calidad. Nos enorgullece nuestra reputación en el mercado y la confianza que nuestros clientes depositan en nosotros.
        <hr>
        Al final del día, nuestro objetivo es ayudarte a construir un equipo sólido y capaz de freelancers que puedan ayudar a llevar tu negocio al siguiente nivel. Con nuestro dedicado equipo de contratistas trabajando incansablemente para identificar y reclutar a los mejores talentos, puedes estar seguro de que estás en buenas manos con nuestros servicios. Además, es importante mencionar que solo contratamos a freelancers mexicanos para poder contribuir al desarrollo económico y social de nuestro país.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerar</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}